{
    BasedOnStyle: LLVM,
    UseTab: ForIndentation,
    IndentWidth: 8,
    TabWidth: 8,
    BreakBeforeBraces: Allman,
    IndentCaseLabels: false,
    ColumnLimit: 0,
    ContinuationIndentWidth: 4,
    Cpp11BracedListStyle: false,
    AccessModifierOffset: -8,
    NamespaceIndentation: None,
    SpaceBeforeParens: ControlStatements,
    PointerAlignment: Right,
    AlignAfterOpenBracket: DontAlign,
    AlignConsecutiveMacros: true,
    IncludeBlocks: Preserve,
    IndentPPDirectives: None,
    SortIncludes: false,
    BreakConstructorInitializers: AfterColon,
    SpaceAfterCStyleCast: false,
    SpaceAfterTemplateKeyword: false,
    SpaceBeforeAssignmentOperators: true,
    SpaceBeforeCtorInitializerColon: true,
    SpaceBeforeInheritanceColon: true,
    SpaceInEmptyParentheses: false,
    SpaceInEmptyBlock: true,
    SpacesInAngles: false,
    SpacesInParentheses: false,
    SpacesInSquareBrackets: false,
    SpaceAfterTemplateKeyword: true,
    AllowShortIfStatementsOnASingleLine: true,
    AllowShortFunctionsOnASingleLine: true,
    AllowShortBlocksOnASingleLine: true,
    WhitespaceSensitiveMacros: ['MKTAG2', 'MKTAG4'],
    Standard: c++03,
}
