# Backup files
*~
.\#*
\#*\#
*.bak
*.orig
*.*.swp
# OS cruft
._*
desktop.ini
.DS_Store
.fseventsd
.Spotlight-V100
Thumbs.db
.Trashes
# Binaries or build/debug artefacts
*.a
*.core
.deps
_deps
*.dSYM
*.exe
.gdb_history
gdb.txt
*.lib
*.ncb
*.o
*.obj
*.pdb
*.pch
*.suo
tags
*.tar
*.tar.*
*.zip
# IDE files
[Dd]ebug/
.idea*
.metadata
*.njsproj
.project
*.properties
[Rr]elease/
.settings
*.sln*
.vscode*
.vs
*.xcodeproj
# CMake build stuff
build/
*.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts
compile_commands.json
CMakeSettings.json
Testing
# Test files. Take care of the .txt case...
*.0*
*.[bBaAtT]
*.bmp
CHAR_????
*.[eExXeE]
*.[iImMsS]
*.[lLaA]*
*.[lLfFlL]
*.[lLeEcC]
*.log
*-new
*-tmp
*~~*tmp*
*.tmp
*.txt
!CMakeLists.txt
!man/txt/*.txt
XY.txt
