# Backup files
*~
.\#*
\#*\#
*.bak
*.orig
*.*.swp
# OS cruft
._*
.DS_Store
.fseventsd
.Spotlight-V100
Thumbs.db
.Trashes
# Binaries or build artefacts
*.a
*.core
.deps
_deps
*.dSYM
*.exe
*.ncb
*.o
*.obj
*.suo
tags
# IDE files
.idea*
.metadata
*.njsproj
.project
*.properties
.settings
*.sln*
.vscode*
.vs
# CMake build stuff
build/
*.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts
compile_commands.json
Testing
# Test files. Take care of the .txt case...
*.0*
*.bat
*.bmp
CHAR_????
*.LFL
*.log
*-new
*-tmp
*~~*tmp*
*.tmp
*.txt
!CMakeLists.txt
XY.txt
