name: Run mandoc linter on manual pages

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/lint-manpages.yml'
      - 'man/*.1'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/lint-manpages.yml'
      - 'man/*.1'

jobs:
  build:
    name: Run mandoc linter on manpages (Ubuntu latest)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install mandoc and print its version
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install -y mandoc
          sudo apt-get clean
          dpkg-query -W -f='Current mandoc is ${binary:Package} ${Version}\n' mandoc

      - name: Run mandoc linter
        working-directory: ${{github.workspace}}/man
        run: mandoc -T lint ./*.1
